.newcollection__title-block{
    max-width: 1110px;
    margin: 0 auto;
    font-size: 40px;
    line-height: 44px;
    font-weight: 500;
}
.newcollection__button-block{
    display: flex;
    justify-content: center;
    margin-top: 65px;
}
.newcollection__button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    line-height: 24px;
    font-weight: 400;
    border: none;
    width: 243px;
    height: 68px;
    border: 1px solid #6E9C9F;
    color: #6E9C9F;
    background-color: #FFFFFF;
}
.newcollection__button:hover{
    background-color: #6E9C9F;
    color: #FFFFFF;
    transition: all .4s;
}
.button__link{
    text-decoration: none;
}